/*
table, tr, td {
    border: 2px solid black;
}*/

body {
    background-image: url("pat.jpg");
}
table {
   float: center;
   align: center;
   margin-left:auto;
   margin-right:auto;
   width:80%;
   text-align:center;
   background-color:rgba(255,255,255,.8);
   padding: 40px;
   margin-top: 5%;
   table-layout:fixed;
}

th {
    font-size:30px;
}

.bar {
    height: 20px;
    background-color:gray;
    margin:10px;
    border: 1px solid #63656B;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    float: left;
    margin-left:0;
    color: white;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}

.bar.dem  {
    background-color: #3A63E8;    
}

.bar.rep  {
    background-color: #E03838;    
}
.bar.unspent {
    background-color:#gray;
}

.left {
    float: left;
}


.right {
    float: right;
}

button {
    padding:5px;
    border-radius: 10px;
    color: white;
    margin:5px;
}

#repb {
    background-color: #E03838;    
}

#demb {
    background-color: #3A63E8;    
}